/*** Banner ***/

.location {
	background-color: #eaeaea;
	display: flex;
	align-items: center;
	justify-content: center;
}

.location p {
	font-weight: 500;
}

.location i {
	margin-right: 15px;
}

.cta {
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 26px;
	padding-bottom: 50px;
}

.cta h3 {
	width: 80%;
	text-align: center;
	margin-bottom: 0;
}

.cta p {
	text-align: center;
	margin: 10px 0 30px 0;
}

/*** Fonctionnement ***/

.fonctionnement {
	padding: 20px;
}

.fonctionnement i {
	font-size: 20px;
	color: #7e7e7e;
}

.fonctionnement .focus {
	color: var(--main-color);
}

.fonctionnement p {
	font-size: 16px;
	font-weight: 500;
}

/*** Restaurants ***/

.restaurants {
	padding: 14px;
	background-color: #f7f7f7;
	padding-bottom: 50px;
}

.restaurants h4 {
	font-size: 18px;
}

.restaurants p {
	font-size: 17px;
}

/*** Animations ***/
.heart {
	margin-right: 10px;

	.heart-icon-dynamic {
		background: white;
	}
}

@media (min-width: 1024px) {
	.fonctionnement {
		max-width: 1024px;
		margin: auto;
	}

	.card-2 {
		width: 32%;
	}

	.fonctionnement-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 30px;
	}

	.card {
		margin: 0;
	}

	.restaurants {
		margin: auto;
	}

	.restaurants-container {
		max-width: 1024px;
		margin: auto;
	}

	.restaurants-cards {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: space-between;
	}

	.restaurants .card {
		width: 495px;
	}
}
